* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem; /* 16px */
}
/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px); /* 24px padding on both sides */
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #171100;
    text-align: center;
    min-width: 118px;
    font-weight: 600;
    line-height: 50px;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.8;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.116rem;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.076rem;
}

.clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* số dòng */
    overflow: hidden;
}

.clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* số dòng */
    overflow: hidden;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* số dòng */
    overflow: hidden;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -23px;
    z-index: 10; /* đảm bảo header nằm trên */
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 13px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul a {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    content: "";
    position: absolute;
    display: block;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
.header .action {
    margin-left: 49px;
}
.header .sign-up-btn {
    min-width: 144px;
}

/* Hero */
.hero {
    padding-top: 56px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}

/* Hero left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.media-block .img {
    width: 470px;
    max-width: 100%;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    border-radius: 12px;
    padding: 24px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.hero-summary .item:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .item + .item {
    margin-top: 18px;
}

.hero-summary .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
}

.hero-summary .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85;
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.66;
}

.content-block .cta-ground {
    display: flex;
    align-items: center;
    margin: 38px 0 48px 0;
}

.content-block .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.content-block .watch-video {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: 28px;
}

.content-block .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 18px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.content-block .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.content-block .desc.stats {
    margin-top: 8px;
}

.content-block .desc.stats strong {
    color: #171100;
    font-family: var(--font-heading);
    padding-right: 8px;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
}

.content-block .desc.stats strong + strong {
    margin-left: 28px;
}

/* Popular */
.popular {
    margin-top: 135px;
    padding: 65px 0;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    color: #5f5b53;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.66;
}

.popular-top .controls {
    display: flex;
    gap: 0 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border: none;
    color: var(--primary-color);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.course-list {
    display: flex;
    gap: 0 30px;
    margin-top: 55px;
}

.course-list .item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
    background: #fff;
}

.course-list .card {
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.course-list .card {
    transition: transform 0.3s ease;
}

.course-list .card:hover .thump {
    transform: scale(1.1);
}

.course-list .thump {
    display: block;
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.course-list .info {
    padding: 16px 22px 22px;
}

.course-list .info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-list .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.course-list .rating {
    display: flex;
    gap: 0 6px;
}

.course-list .rating .rate {
    color: #fea31b;
    line-height: 1.75;
}

.course-list .info .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 14px;
    line-height: 1.85;
}

.course-list .foot {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-list .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.course-list .foot .btn {
    cursor: pointer;
    border: none;
    background: #ffb900;
}
