* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem; /* 16px */
}
/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px); /* 24px padding on both sides */
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #171100;
    text-align: center;
    padding: 0 16px;
    min-width: 118px;
    font-weight: 600;
    line-height: 50px;
    border-radius: 999px;
}
.btn:hover {
    opacity: 0.8;
}
/* Header */
.header {
    background: #fffcf4;
}
.header.fixed {
    position: sticky;
    top: -23px;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 13px;
}

.nav {
    margin-left:auto;
}

.nav ul {
    display: flex;
    
}

.nav ul a {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    content: "";
    position: absolute;
    display: block;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
.header .action {
    margin-left: 49px;
}
.header .sign-up-btn {
    min-width: 144px;
}
