* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem; /* 16px */
}
/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px); /* 24px padding on both sides */
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #171100;
    font-family: Poppins;
    text-align: center;
    min-width: 118px;
    font-weight: 600;
    line-height: 50px;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.8;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.116rem;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.076rem;
}

.clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* số dòng */
    overflow: hidden;
}

.clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* số dòng */
    overflow: hidden;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* số dòng */
    overflow: hidden;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -23px;
    z-index: 10; /* đảm bảo header nằm trên */
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 13px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul a {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    content: "";
    position: absolute;
    display: block;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
.header .action {
    margin-left: 49px;
}
.header .sign-up-btn {
    min-width: 144px;
}

/* Hero */
.hero {
    padding-top: 56px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}

/* Hero left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.media-block .img {
    width: 470px;
    max-width: 100%;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    border-radius: 12px;
    padding: 24px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.hero-summary .item:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .item + .item {
    margin-top: 18px;
}

.hero-summary .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
}

.hero-summary .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85;
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.66;
}

.content-block .cta-ground {
    display: flex;
    align-items: center;
    margin: 38px 0 48px 0;
}

.content-block .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.content-block .watch-video {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: 28px;
}

.content-block .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 18px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.content-block .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.content-block .desc.stats {
    margin-top: 8px;
}

.content-block .desc.stats strong {
    color: #171100;
    font-family: var(--font-heading);
    padding-right: 8px;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
}

.content-block .desc.stats strong + strong {
    margin-left: 28px;
}

/* Popular */
.popular {
    margin-top: 135px;
    padding: 65px 0;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    color: #5f5b53;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.66;
}

.popular-top .controls {
    display: flex;
    gap: 0 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border: none;
    color: var(--primary-color);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.course-list {
    display: flex;
    gap: 0 30px;
    margin-top: 55px;
}

.course-list .item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
    background: #fff;
}

.course-list .item:hover {
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.course-list .thump {
    display: block;
    width: 100%;
    height: 278px;
    object-fit: cover;
    transition: transform 0.35s ease;
}

.course-list .item:hover .thump {
    transform: scale(1.08);
}

.course-list .info {
    padding: 16px 22px 22px;
}

.course-list .info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-list .item > a {
    display: block;
    width: calc(100% + 2px);
    margin: -1px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.course-list .info .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.course-list .rating {
    display: flex;
    gap: 0 6px;
}

.course-list .rating .rate {
    color: #fea31b;
    line-height: 1.75;
}

.course-list .info .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 14px;
    line-height: 1.85;
}

.course-list .foot {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-list .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.course-list .foot .btn {
    cursor: pointer;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0;
}

.course-list .foot .btn:hover {
    background: var(--primary-color);
}

/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-between;
}

.feedback-list .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-list .info {
    padding-right: 10px;
}

.feedback-list .info .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
}

.feedback-list .info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.85;
}

.feedback-list .dots {
    margin-top: 28px;
    display: flex;
    gap: 0 6px;
}

.feedback-list .dots .dot {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-list .dots .dot.active {
    background-color: var(--primary-color);
    cursor: default;
}
.feedback-list .content {
    width: calc(100% - 34.18%);
}

.feedback-list .content blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.53;
}

/* Features*/
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-body .img-block {
    display: flex;
    gap: 0 30px;
}

.features:not(.features-2nd) .img-block .img:first-child {
    margin-top: 34px;
}

.features-body .img-block .img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features-body .right-block {
    width: 40.17%;
}

.features-body .right-block .desc {
    margin-top: 16px;
    color: #5f5b53;
    line-height: 1.75;
}

.btn-features {
    margin-top: 32px;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    padding: 0px;
    min-width: 137px;
}

/* Features 2nd */

.features-2nd {
    margin-top: 70px;
}
.features-2nd .features-body {
    flex-direction: row-reverse;
}

.features-2nd .right-block {
    width: 48.71%;
}

.features-2nd .img-block .img {
    margin-top: 0;
    width: 470px;
    height: 440px;
    object-fit: cover;
}

/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog .blog-top .desc {
    margin-top: 16px;
    max-width: 448px;
    color: #696262;
    text-align: center;
    line-height: 1.75;
}

.blog .blog-list {
    overflow: hidden;
    margin-top: 55px;
    display: flex;
    gap: 0 30px;
}

.blog-list .item {
    width: calc(33.33% - 20px);
    flex-shrink: 0;
}

.blog-list .item:hover {
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blog-list .thumb-link {
    display: block;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
}

.blog-list .item .thumb {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.blog-list .item:hover .thumb {
    transform: scale(1.1);
}

.blog-list .item .info {
    padding: 20px 20px 28px 20px;
    background: #fff;
    border-radius: 0 0 12px 12px;
}

.blog-list .item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.85;
    color: #5f5b53;
}

.blog-list .item .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.blog-list .item .date::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 100%;
    padding-right: 27px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog-list .info .title a {
    display: block;
    margin-top: 12px;
    color: #171100;
    font-weight: 600;
    line-height: 1.75;
}

.blog-list .info .ctn-btn {
    margin-top: 12px;
    font-size: 1.4rem;
}

.blog-list .info .ctn-btn:hover {
    background-color: var(--primary-color);
}

.blog .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 0 6px;
}

.blog .dots .dot {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
}

.blog .dots .dot.active {
    background-color: var(--primary-color);
    cursor: default;
}

/* Footer */
.footer {
    background: #2e2100;
    padding: 96px 0 28px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #59554b;
    padding-bottom: 38px;
}

.footer .row .column:first-child {
    width: 22.82%;
}

.footer .row .column:nth-child(2),
.footer .row .column:nth-child(3) {
    width: 11.71%;
}

.footer .row .column:nth-child(4) {
    width: 19.74%;
}

.footer .row .desc {
    margin-top: 18px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.85;
}

.footer .row .social {
    margin-top: 18px;
    display: flex;
    gap: 0 18px;
}

.footer .column .title {
    position: relative;
    display: inline-block;
    padding-bottom: 14px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    /* line-height: 1.75; */
}

.footer .column .title::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    padding-right: 63px;
    margin-right: 4px;
    width: 100%;
    height: 1px;
    background: #59554b;
}

.footer .list {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 12px 0;
}

.footer .list a {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer .list a strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer .copyright {
    margin-top: 28px;
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
}
